* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  padding: 10px;
  background-color: cadetblue;
  color: rgb(238, 238, 238);
}


table {
  margin: 10px auto;
  background-color: beige;
  border-spacing: 20px;
}

.text-descuento {
  background-color: cadetblue;
  color: white;
  padding: 20px;
  margin: 20px;

  table {
    color: black;
    margin: 10px 10px;
  }
}

.input-cant {
  width: 70px;
}